
.escribiendo-titulo{
    width: 7ch;
   font-size: 60px;
   font-weight: 800;
   margin-bottom: 20px;
   /* overflow: hidden;
animation: tipado 1.4s steps(7)alternate infinite;*/
}
.contenedor{
    background-image:url(../assets/tienda.jpg);
background-size:cover ;

    
}
.banner{
   
    margin: 5.6rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  
   
} 
.texto{
   width: 45%;
   text-align: start;
   font-size: 1.5rem;
   color: bisque;
    
}

.texto h2{
    padding-top: 2.2rem;
    font-weight: bold;
}

.banner_img{
    align-items: center;
    padding-bottom: 3rem;
  animation: movimiento 2.5s linear infinite;
  

}

.banner_img img{
width: 300px;
display: block;
filter: brightness(200%);
}

/*@keyframes tipado{
    from{
        width: 0ch;
    }
}*/

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}