
.escribiendo-titulo{
    width: 7ch;
   font-size: 60px;
   font-weight: 800;
   margin-bottom: 20px;
   /* overflow: hidden;
animation: tipado 1.4s steps(7)alternate infinite;*/
}

.banner{
    display: flex;
    position: relative;
   
    justify-content: space-between;
    align-items:center;
    
}

.banner_img{
    animation: movimiento 2.5s linear infinite;

}

.banner_img img{
width: 600px;
display: block;
}

/*@keyframes tipado{
    from{
        width: 0ch;
    }
}*/

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}